on boot
    chown system system /proc/touchpanel/game_switch_enable
    chown system system /proc/touchpanel/oplus_tp_direction
    chown system system /proc/touchpanel/oplus_tp_limit_enable

    chmod 0666 /proc/touchpanel/game_switch_enable
    chmod 0666 /proc/touchpanel/oplus_tp_direction
    chmod 0666 /proc/touchpanel/oplus_tp_limit_enable
    chown system system /sys/kernel/oppo_display/dimlayer_bl_en
    chown system system /sys/kernel/oppo_display/hbm
    chown system system /sys/kernel/oppo_display/seed
    chown system system /sys/class/power_supply/usb/otg_switch
    chmod 0666 /sys/kernel/oppo_display/dimlayer_bl_en
    chmod 0666 /sys/kernel/oppo_display/hbm
    chmod 0666 /sys/kernel/oppo_display/seed
    chmod 0666 /sys/class/power_supply/usb/otg_switch

# KCAL permissions
  chown system system /sys/module/msm_drm/parameters/kcal_blue
  chown system system /sys/module/msm_drm/parameters/kcal_green
  chown system system /sys/module/msm_drm/parameters/kcal_red
  chown system system /sys/module/msm_drm/parameters/kcal_cont
  chown system system /sys/module/msm_drm/parameters/kcal_hue
  chown system system /sys/module/msm_drm/parameters/kcal_sat
  chown system system /sys/module/msm_drm/parameters/kcal_val
  chmod 0660 /sys/module/msm_drm/parameters/kcal_blue
  chmod 0660 /sys/module/msm_drm/parameters/kcal_green
  chmod 0660 /sys/module/msm_drm/parameters/kcal_red
  chmod 0660 /sys/module/msm_drm/parameters/kcal_cont
  chmod 0660 /sys/module/msm_drm/parameters/kcal_hue
  chmod 0660 /sys/module/msm_drm/parameters/kcal_sat 
  chmod 0660 /sys/module/msm_drm/parameters/kcal_val

# FPS Info permissions
  chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
  chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

on property:sys.boot_completed=1
# Audio gain permissions
  chown system system /sys/kernel/sound_control/headphone_gain
  chown system system /sys/kernel/sound_control/mic_gain
  restorecon_recursive /sys/kernel/sound_control
  chmod 0660 /sys/kernel/sound_control/headphone_gain
  chmod 0660 /sys/kernel/sound_control/mic_gain

# Vibrate
  chown system system /sys/class/leds/vibrator/vmax_mv_call
  chown system system /sys/class/leds/vibrator/vmax_mv_strong
  chown system system /sys/class/leds/vibrator/vmax_mv_user
  chown system system /sys/class/leds/vibrator/vmax_override
  chmod 0660 /sys/class/leds/vibrator/vmax_mv_call
  chmod 0660 /sys/class/leds/vibrator/vmax_mv_strong
  chmod 0660 /sys/class/leds/vibrator/vmax_mv_user
  chmod 0660 /sys/class/leds/vibrator/vmax_override
  write /sys/class/leds/vibrator/vmax_override 1
